@use "../utils/variables.scss";

.btn {
    padding: 10px 15px;
    background-color: variables.$secondary;
    border: none;
    border-radius: 10px;
    font-size: large;


    &:hover {
        cursor: pointer;
        background-color: adjust-hue($color: variables.$secondary, $degrees: 35);
    }
}